@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 
/*estilos index.html*/


body{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(243, 234, 222);
}

h1{
    text-decoration-line: underline;
    margin-bottom: 2rem;
}

.wp{
    width: 7rem;
    height: 7rem;
    position: fixed;
    bottom: 2px;
    right: 2px;

}
footer{
    margin-top: 10rem;
    text-align: center;
    
}


img{
    width: 20rem;
    height: 15rem;
}

/*estilos de contacto.html*/

form{
    font-size: 2rem;
    text-align: center;
    margin-top: 5rem;
    margin-left: 20rem;
    margin-right: 20rem;
}

.btnEnviar{
    background-color: rgb(228, 168, 228);
    border-radius: 10px;
    margin-top: 10px;
    padding: 5px;
    font-size: 1.5rem;
    text-align: center;
    margin: 10px 600px 0px 600px;
}


/*estilos nosotros.html*/

.contenedorNosotros{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 0.5fr ;
    height: 50rem;

    grid-template-areas: 
    "header header header"
    "main main main"
    "section section section"
    "footer footer footer";

}

.historia{
    margin-top: 3rem;
    text-align: center;
    font-size: 2rem;
    grid-area: main;
}

p{
    margin: 3rem;
}

.nuestroTrabajo{
    text-align: center;
    font-size: 2rem;
    grid-area: main;
}

h2{
    text-align: center;
    text-decoration-line: underline;
    font-size: 2rem;
    margin: 2rem;
}

.nosotros{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.nosotrosCaja{
    text-align: center;
    margin-top: 20px;
    grid-area: section;
}
    
.imgNosotros{
    width: 25rem;
    height: 19rem;
}

/*estilos mi cuenta.html*/

.btnMicuenta{
    display: flex;
    justify-content: center;
    margin: 3rem;
}

.btnAcceso{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    padding: 10px;
    list-style: none;
    background-color: rgb(228, 168, 228);
    border-radius: 10px;
    text-decoration-line: underline;
}

.formulario{
    margin-right: 24rem;
    margin-left: 24rem;
}